<html>
<head>
<title>HOG converter</title>
<meta name="viewport" content="width-device-width, initial-scale=1"> 
<script>
/*function helloWorld() {
    alert("hello world");
}
$(document).ready(function(){
    console.log("document loaded");
    $("#send").click(function(){
        console.log("Send file");
        var $fileinput = $("#fileinput");
        var file =  $fileinput[0].files[0];
        $.ajax ({
	    url: "/convert_file",
            data: file,
            type: "POST",
            processData: false,
            contentType: false
        });
    }); 

});*/

</script>
<style>
#container{
    width: 80%;
    margin:auto;
}
</style>

</head>

<body>
<div id="container">
<h1>HOG-converter</h1>
<p>Upload a image to get the HOG-version of it. <br/>
Just for fun. Read more <a href="http://en.wikipedia.org/wiki/Histogram_of_oriented_gradients" target="_blank">here.</a>  </p>
<img src="http://www.niksula.hut.fi/~lsailara/uimalasit_hog.jpg" width="250px"></img><br/>
<img src="http://www.niksula.hut.fi/~lsailara/uimalasit.jpg" width="250px"></img><br/>
<form action="/convert_file" enctype="multipart/form-data" method="post">
Give file to convert: <br/> 
<input type="file" name="file"></input><br/> 
<input type="submit" value="Send"></input>
</form>
</div>
</body>
</html>
