<html>
<head>
<title>HOG converter</title>
<script>
/*function helloWorld() {
    alert("hello world");
}
$(document).ready(function(){
    console.log("document loaded");
    $("#send").click(function(){
        console.log("Send file");
        var $fileinput = $("#fileinput");
        var file =  $fileinput[0].files[0];
        $.ajax ({
	    url: "/convert_file",
            data: file,
            type: "POST",
            processData: false,
            contentType: false
        });
    }); 

});*/

</script>


</head>

<body>
<h1>HOG-converter</h1>
<p>Upload a image to get the HOG-version of it. <br/>
Just for fun. Read more <a href="http://en.wikipedia.org/wiki/Histogram_of_oriented_gradients" target="_blank">here.</a>  </p>
<form action="/convert_file" enctype="multipart/form-data" method="post">
Give file to convert: <br/> 
<input type="file" name="file"></input><br/> 
<input type="submit" value="Send"></input>
</form>

</body>
</html>
