<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<script>
/*function helloWorld() {
    alert("hello world");
}
$(document).ready(function(){
    console.log("document loaded");
    $("#send").click(function(){
        console.log("Send file");
        var $fileinput = $("#fileinput");
        var file =  $fileinput[0].files[0];
        $.ajax ({
	    url: "/convert_file",
            data: file,
            type: "POST",
            processData: false,
            contentType: false
        });
    }); 

});*/

</script>


</head>

<body>
<h1>Hello World</h1>

<form action="/convert_file" enctype="multipart/form-data" method="post">
Give file to convert: <br/> 
<input type="file" name="file"></input><br/> 
<input type="submit" value="Send"></input>
</form>

</body>
</html>
